#oneTable .tname,#oneTable .tname a{
    color: dodgerblue;
    font-size: 0.9em;
    text-decoration: none;
}
#twoTable .tname,#twoTable .tname a{
    color: #5c995c; 
    font-size: 0.9em;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
    background-color: aliceblue;
}
.cname{
     font-size: 1em;
}
td,th{
      width:16.7%;
    height: 3em;  
text-align: center;
    border: solid #FFF 1px;
    background-color: rgba(255,255,255,0.75);
    margin: 3px;
}

#oneTable th,#oneTable .sleep{
    background: dodgerblue;
    color: aliceblue;
}
#twoTable th,#twoTable .sleep{
    background: darkseagreen;
     color: aliceblue;
}
.sleep{
    height:  1.5em;
}
#twoTable, #oneTable
{
    width:45%;
    float: left;
    margin: 2.5%;
}
table{
    width: 100%;
    
}
html{
    width: 100%;
    height: 100%;   
}
body{
    width: 100%;
    height: 100%;
    background-image: url(../img/DSC08240-01.jpg);
    background-size: cover;
}
td:hover{
    background-color: rgba(255,255,255,0.95); 
}
h1{
    font-size: 1.5em;
    color: aliceblue;
}