#oneTable .tname{
    color: dodgerblue;
    font-size: 0.75em;
}
#twoTable .tname{
    color: darkseagreen; 
    font-size: 0.75em;
}
.cname{
     font-size: 1em;
}
td,th{
      width:16.7%;
    height: 3em;  
text-align: center;
}

#oneTable th{
    background: dodgerblue;
    color: aliceblue;
}
#twoTable th{
    background: darkseagreen;
     color: aliceblue;
}
#twoTable, #oneTable
{
    width:45%;
    float: left;
    margin: 2.5%;
}
table{
    width: 100%;
}