/*朱駿錫*/

#oneTable .tname,#oneTable .tname a{
    color: dodgerblue;
    font-size: 0.9em;
    text-decoration: none;
}
#twoTable .tname,#twoTable .tname a{
    color: #5c995c; 
    font-size: 0.9em;
    text-decoration: none;
}
a:hover{
    font-weight: bold;
    background-color: aliceblue;
}
.cname{
     font-size: 1em;
}
td,th{
      width:16.7%;
    height: 3em;  
text-align: center;
    border: solid rgba(255,255,255,0.80) 1px;
    background-color: rgba(255,255,255,0.75);
    margin: 3px;
    -webkit-box-shadow: inset 0px 0px 5px 3px rgba(255,255,255,0.25);
-moz-box-shadow: inset 0px 0px 5px 3px rgba(255,255,255,0.25);
box-shadow: inset 0px 0px 5px 3px rgba(255,255,255,0.25);
}

#oneTable th,#oneTable .sleep{
    background: dodgerblue;
    color: aliceblue;
}
#twoTable th,#twoTable .sleep{
    background: darkseagreen;
     color: aliceblue;
}
.sleep{
    height:  1.5em;
}
#twoTable, #oneTable
{
    width: 45%;
    float: left;
    margin: 0 2.5%;
    display: none;
}
table{
    width: 100%;
    -webkit-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.8);
-moz-box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.8);
box-shadow: 0px 0px 30px -5px rgba(0,0,0,0.8);
}
html{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    display: fixed;
}
body{
    width: 100%;
    height: 100%;
    background-image: url(../img/DSC08240-01.jpg);
    background-size: cover;
    padding: 0px;
    margin: 0px;
    display: fixed;
}
td:hover{
    background-color: rgba(255,255,255,0.95); 
}
h1{
    font-size: 1.5em;
    color: aliceblue;
}

@media screen and (max-width:720px){
    #twoTable,#oneTable{
        width:94%;
        margin: 0 3%;
    }       
}
.disable{
    color: #666;
    font-size: 0.9em;
}
.classMark{
    font-size: 0.5em;
}
ul,li{
    padding: 0px;
    margin: 0px;
    text-indent: 0px;
}
nav{
    height: 50px;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    
}
.one,.two{
    width: 35%;
    margin: 0px 5%;
    height: 100%;
    text-align: center;
}
.one{
    float: left;

}

.two{
    float: right;

}
nav ul,nav li{
    line-height: 300%;
    list-style-type: none;
}
main{
    clear: both;
    margin-top: 50px;
}


nav ul li {
    display: block;
    width: 100px;
    height: 100%;
    float: left;
    color: aliceblue;
  position: relative; /* 使子選單依照母選單的座標顯示 */
}
nav > ul > li {
    width: 25%;
}
nav > ul > li > ul > li {
    width: 100%;
}

ul li:hover{
   
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
-moz-box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5);
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    border-top: solid rgba(255,255,255,0.80) 1px ; 
    border-bottom: solid rgba(255,255,255,0.80) 1px ; 
}
ul.one li:hover{
     background-color: dodgerblue;
}
ul.two li:hover{
     background-color: #5c995c; 
}

ul li ul{
    background-color: rgba(0,0,0,0.4);
}
ul li ul li{
    height: 24px;
    line-height: 150%;
}
/* 設定母選單的連結樣式 
nav ul li a{
  background: url(detail.png);
}*/
/* 當母選單下沒有子選單時，也就是說只有一個連結時，隱藏detail.png 
nav ul li a:only-child{
  background: none;
}

*/
ul li:hover > ul {
  display: block; /* 滑鼠滑入母選單後，顯示子選單 */
}
/* 二級選單顯示於一級選單的正下方 */
ul ul {
  position: absolute;
  top: 100%;
  list-style: none;
  display: none;
}
/* 三級選單則顯示於二級選單的右方 */
ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
   
}
ul.two ul ul {
  position: absolute;
  left: 100%;
  top: 0;
   
    
}
nav a{
    text-decoration: none;
    color: #FFF;
}
nav a:hover{
    background-color: transparent;
}