.mobileSet{
    float: left;
    display: none;
    height: 50px;
    position:relative;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    background-image: url(../img/bk.png);
}


@media screen and (max-width:720px){
    #twoTable,#oneTable{
        width:94%;
        margin: 3%;    
    }
    .mobileSet{
        display: block;
        position: static;
    }
    .screenSet {
        position: static;
    }
    .screenSet > .two{
        display: none;
    }
    .one, .two{
        width: 90%;
    }
    main{
        margin-top: 0px;    
    }
    .warp{
    display: inline;
    margin-bottom: 25px;
        color: #FFF;
    }
    nav div{
            width:40%;
    z-index: 5;
    position: fixed;
    height: 40px;
    color: rgba(255,255,255,0.5);
    text-align: center;
    right: 30%;
    bottom: 0%;
    background: rgba(0,0,0,0.5);
    border-radius: 20px 20px 0px 0px ;
-moz-border-radius: 20px 20px 0px 0px ;
-webkit-border-radius: 20px 20px 0px 0px ;
    line-height: 120%;
    }
}

@media print{
    
    nav{
        display: none;
    }
    html,body{
        background: #FFF;
        color: black;
    }
    table,tr,th,td{
        margin: 0;
        border: 1px solid #222;
    }
    h1{
        color: black;
    }
}